/*----- PROJETOS -----*/
#projetos {
    width: 80%;
    margin-inline: auto;
    margin-top: 5rem;
}
.projetos__projetos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    line-height: var(--nav-height);
    box-sizing: border-box;
}

.projetos__imagem {
    width: 100%;
    margin: 2rem 0;
    box-sizing: border-box;
}

.projetos__links {
    display: flex;
    justify-content: space-between;

    margin: 2rem 0;
}

#projetos .wrapper > p {
    margin: var(--nav-height) 0;
}