/*----- SMARTPHONE -----*/
/*----- MENU EXPANSÍVEL -----*/
@media screen and (max-width: 500px) {
    body.menu-expanded .menu {
        width: 100vw;
    }

    body.menu-expanded > :not(nav) {
        visibility: hidden;
    }

    .menu li {
        width: 75%;
    }

    /*----- HOME -----*/
    #home {
        width: 90%;
        margin-inline: auto;
    }
    .sobre__foto {
        margin-top: 0;
        width: 50%;
    }

    .sobre__titulo {
        margin-top: 5rem;
    }

    .sobre__sobre {
        font-size: 2rem;
        margin-top: 5rem;
        padding: 1rem 0;
        border: 1px solid var(--nav-bar1);
        border-radius: 10%;
        box-shadow: 5px 5px 10px 0 var(--nav-bar1);
    }

    /*----- SOCIAL-LINKS -----*/
    .social-links {
        width: 100%;
        height: 8rem;
    }

    span {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    /*----- HARD SKILLS -----*/  
    .hard__desenvolvidas {
        width: 50%;
        margin-inline: auto;
    }

    /*----- HOBBIES -----*/
    #hobbies {
        margin-top: 3rem;
    }
    .hobbies__hobbies li {
        width: 50%;
    }

    /*----- BACK TO TOP -----*/ 
    #backToTopButton {
        bottom: 1%;
        right: 1%;
    }

    /*----- FORMACAO -----*/
    .formacao__direita,
    .formacao__esquerda {
        background: linear-gradient(120deg, var(--background), 80%, var(--nav-bar1));
    }

}

@media screen and (min-width: 501px) {
    body.menu-expanded .menu {
        width: 60%;
        border-radius: 0 0 0 10%;
    }

    body.menu-expanded > :not(nav) {
        visibility: transparent;
    }

    .menu li {
        width: 75%;
    }
    
    /*----- HOME -----*/
    .sobre__foto {
        width: 25%;
    }

    .sobre__titulo {
        width: 80%;
        margin-top: 5rem;
        margin-inline: auto;
    }

    .sobre__sobre {
        font-size: 2rem;
        padding: 3rem 0;
    }

    /*----- HARD SKILLS -----*/
    #hard {
        height: auto;
    }

    .hard__skills {
        width: 80%;
        margin-inline: auto;
    }

    .hard__desenvolvendo {
        width: 100%;
        margin-inline: auto;
        gap: 1rem;
    }

    /*----- HOBBIES -----*/
    #hobbies {
        width: 80%;
        margin-inline: auto;
        margin-top: 10rem;
        border-radius: 10rem;
        box-shadow: 5px 5px 50px var(--nav-bar1);
    }

    .hobbies__hobbies li {
        width: 25%;
    }
    
    /*----- BACK TO TOP -----*/ 
    #backToTopButton {
        bottom: 3%;
        right: 3%;
    }

    /*----- PROJETOS -----*/
    #projetos {
        margin-top: 10rem;
    }

    /*----- FORMACAO -----*/
    .formacao__cursos ul,
    .formacao__formacao ul {
        width: 90%;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-inline: auto;
    }


    .formacao__direita,
    .formacao__esquerda {
        background: linear-gradient(120deg, var(--background), 70%, var(--nav-bar1));
    }
} 


/*----- TABLET -----*/
/*----- MENU EXPANSÍVEL -----*/
@media screen and (min-width: 768px) {   
    #navegacao > .wrapper {
        width: 100%;
    }

    .wrapper {
        width: min(768px, 100%);
    }

    body.menu-expanded .menu {
        width: 40%;
    }

    .menu li {
        width: 75%;
    }
    
    body.menu-expanded > :not(nav) {
        visibility: transparent;
    }

    .nome {
        font-size: 2rem;
        font-weight: 700;
        color: var(--nav-bar2);
    }
    
    /*----- HOME -----*/
    .home__sobre {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-inline: auto;
    }

    .sobre__foto {
        width: 25%;
        margin-top: 0;
    }

    .sobre__titulo {
        width: 50%;
        margin: 0;
    }
   
    .sobre__sobre {
        font-size: 2rem;
    }

    /*----- SOCIAL-LINKS -----*/
    .social-links {
        margin-top: 3rem;
    }

    /*----- PROJETOS -----*/
    #projetos {
        margin-top: var(--nav-height);
    }

    /*----- FORMACAO -----*/
    .formacao__formacao ul,
    .formacao__cursos  ul{
        width: 80%;
        margin-inline: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

    }
    .formacao__formacao ul li,
    .formacao__cursos ul li {
        display: flex;
        flex-direction: column;
    }

    .formacao__esquerda {
        background: linear-gradient(90deg, var(--background), var(--nav-bar1));
    }

    .formacao__direita {
        background: linear-gradient(90deg, var(--nav-bar1), var(--background));
    }

}

/*----- NOTEBOOK -----*/
@media screen and (min-width: 992px) {   
    /*----- GERAL -----*/   
    body {
        overflow: auto;
    }
    
    #navegacao .wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
    }
    
    .wrapper {
        width: min(992px, 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /*----- RESET -----*/
    #navegacao .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        transform: initial;
    }
    
    #navegacao .close-menu,
    #navegacao .open-menu {
        display: none;
    }
    
    /*----- MENU -----*/
    #navegacao .wrapper {
        padding-inline: 10%;
    }

    #navegacao .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    #navegacao .wrapper .menu i {
        display: none;
    }
    
    #navegacao .menu li a.active::after,
    #navegacao .menu li a:hover::after {
        padding-inline: 0.8rem;
    }
    
    #navegacao .menu li a {
        font-size: 2.5rem;
        font-weight: 400;
        color: var(--color);
        display: inline;
        padding: 1rem;
    }
    
    #navegacao .menu li a.active,
    #navegacao .menu li a:hover {
        color: var(--color);
        font-size: 4;
        font-weight: 1000;
        letter-spacing: 0.3;
        filter: brightness(1.5);
    }

    /*----- BACK TO TOP -----*/ 
    #backToTopButton {
        bottom: 5%;
        right: 3%;
    }
    /*----- HOME -----*/
    #home .wrapper {
        height: 100vh;
    }

    .sobre__sobre {
        width: 90%;
        margin-inline: auto;
    }

    /*----- HARD SKILLS -----*/
    #hard {
        width: 100%;
        margin-inline: auto;
        margin-top: 30rem;
    }

    .hard__desenvolvendo {
        width: auto;
        padding: auto;
        gap: 2rem;
    }

    /*----- PROJETOS -----*/
    #projetos {
        margin-top: 30rem;
    }

    /*----- FORMACAO -----*/
    .formacao__formacao ul,
    .formacao__cursos ul {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: 5rem 0;
        padding: 0;      
    }

    .formacao__formacao ul li,
    .formacao__cursos ul li {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .formacao__formacao {
        width: 100%;
    }


}

/*----- MONITORES GRANDES -----*/
@media screen and (min-width: 1200px) {  

    /*----- GERAL -----*/   
    .wrapper {
        width: min(1200px, 100%);
    }

    /*----- MENU -----*/
    .menu li {
        width: 70%;
    }
    
    #home .wrapper {
        height: 100vh;
    }

    /*----- SOBRE -----*/
    .sobre__sobre p {
        font-size: 22px;
    }

    /*----- HARD SKILLS -----*/
    #hard {
        margin-top: 30rem;
    }

    /*----- PROJETOS -----*/
    #projetos {
        font-size: 25px;
        font-weight: bold;
        margin-top: 30rem;
    }

    /*----- FORMACAO -----*/
    #formacao {
        width: 80%;
        margin-inline: auto;
    }

    #formacao .wrapper {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    
    .formacao__formacao ul,
    .formacao__cursos ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .formacao__formacao ul li,
    .formacao__cursos ul li {
        width: 25%;
        display: flex;
        flex-direction: column;
    }

    .formacao__formacao {
        margin-top: var(--nav-height);
    }


}