/*----- SMARTPHONE -----*/
/*----- MENU EXPANSÍVEL -----*/
@media screen and (max-width: 500px) {
    #navegacao > .wrapper {
        background: linear-gradient(145deg, var(--nav-bar1), 70%, var(--nav-bar2));
    }
    body.menu-expanded .menu {
        width: 100vw;
    }

    body.menu-expanded > :not(nav) {
        visibility: hidden;
    }
    /*----- HOME -----*/
    .sobre__foto {
        margin-top: 0;
        width: 50%;
    }

    .sobre__titulo {
        margin-top: 5rem;
    }

    .sobre__sobre {
        font-size: 2rem;
        margin-top: 5rem;
        background: linear-gradient(120deg, var(--nav-bar1), 30%, var(--background));
        padding: 3rem 0;
    }

    /*----- SOCIAL-LINKS -----*/
    .social-links {
        width: 100%;
        height: 8rem;
    }

    span {
        width: 100%;
    }

    .container {
        width: 100%;
    }
    /*----- HOBBIES -----*/
    .hobbies__hobbies li {
        width: 50%;
    }

    /*----- BACK TO TOP -----*/ 
    #backToTopButton {
        bottom: 1%;
        right: 1%;
    }
    
}

@media screen and (min-width: 501px) {
    #navegacao > .wrapper {
        background: linear-gradient(145deg, var(--nav-bar1), 70%, var(--nav-bar2));
    }
    body.menu-expanded .menu {
        width: 60%;
        border-radius: 0 0 0 5rem;
    }
    /*----- HOME -----*/
    .sobre__foto {
        width: 25%;
    }

    .sobre__titulo {
        width: 80%;
        margin-top: 5rem;
        margin-inline: auto;
    }

    .sobre__sobre {
        font-size: 2rem;
        margin-top: 10rem;
        background: linear-gradient(120deg, var(--nav-bar1), 30%, var(--background));
        padding: 3rem 0;
    }

    /*----- HOBBIES -----*/
    .hobbies__hobbies li {
        width: 50%;
    }
    
    /*----- BACK TO TOP -----*/ 
    #backToTopButton {
        bottom: 3%;
        right: 3%;
    }

    
} 


/*----- TABLET -----*/
/*----- MENU EXPANSÍVEL -----*/
@media screen and (min-width: 768px) {   
    #navegacao > .wrapper {
        background: var(--background);
    }

    .wrapper {
        width: min(768px, 100%);
    }
    
    body.menu-expanded > :not(nav) {
        visibility: transparent;
    }

    .fa-heart-pulse {
        background-image: linear-gradient(to right, var(--nav-bar2), 80%, var(--color));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

        .nome {
            font-size: 2rem;
            font-weight: 700;
            color: var(--color);
        }
    
    
    /*----- HOME -----*/
    .home__sobre {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-inline: auto;
    }

    .sobre__foto {
        width: 25%;
        margin-top: 0;
    }

    .sobre__titulo {
        width: 50%;
        margin: 0;
    }
   
    .sobre__sobre {
        font-size: 2rem;
        margin-top: 5rem;
        background: linear-gradient(0deg, var(--nav-bar1), 1%, var(--background));
    }

    /*----- HOBBIES -----*/
    .hobbies__hobbies li {
        width: 25%;
    }



}

/*----- NOTEBOOK -----*/
@media screen and (min-width: 992px) {   
    #navegacao > .wrapper {
        background: var(--background);
    }

    .wrapper {
        width: min(992px, 100%);
    }

    /*----- PROJETOS -----*/   
    #projetos .wrapper {
        width: 80%;
    }
    
    

}
    
/*----- NOTEBOOK -----*/
@media screen and (min-width: 1024px) {
    /*----- GERAL -----*/   
    body {
        overflow: auto;
    }
    
    #navegacao .wrapper {
        display: flex;
        flex-direction: row;
    }
    
    .wrapper {
        width: min(112rem, 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    /*----- RESET -----*/
    #navegacao .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        transform: initial;
    }
    
    #navegacao .close-menu,
    #navegacao .open-menu {
        display: none;
    }
    
    /*----- MENU -----*/
    #navegacao .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
    }

    #navegacao .wrapper .menu i {
        display: none;
    }
    
    #navegacao .menu li a.active::after,
    #navegacao .menu li a:hover::after {
        padding-inline: 0.8rem;
        width: 100%;
    }
    
    #navegacao .menu li a {
        font-size: 1.8rem;
        font-weight: 400;
        color: var(--color);
        display: inline;
        padding: 1rem;
    }
    
    #navegacao .menu li a.active,
    #navegacao .menu li a:hover {
        background-image: linear-gradient(to left, var(--nav-bar1), var(--color));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 2rem;
        font-weight: 700;
    }

    /*----- BACK TO TOP -----*/ 
    #backToTopButton {
        bottom: 5%;
        right: 5%;
    }

}